<div class="card card-half team-directory">
  <div ng-if="vm.org.members.length">
    <p>
      Your team currently has {{ ::vm.org.members.length }}
      active {{ ::vm.org.members.length === 1 ? 'member' : 'members' }}.
      Invite new members to your team and start collaborating. It's easy as a pie.
    </p>

    <div class="media" ng-repeat="member in ::vm.org.members">

      <div class="media-left media-top">
        <a href>
          <img class="media-object" ng-src="{{ ::member.profile.gravatar_url }}">
        </a>
      </div>
      <div class="media-body">
        <strong>{{ ::vm.memberName(member) }} </strong>

        <div>
          <span>
            <i class="glyphicon glyphicon-envelope"></i>
            {{ ::member.profile.email }}
          </span>
          <span ng-show="member.status">
            <i class="glyphicon glyphicon-calendar"></i>
            {{ ::member.status }}
          </span>
        </div>
      </div>

    </div>

  </div>
</div>
