<div class="teams">

  <div class="name row">

    <div class="title col-xs-6">Channels</div>

    <div class="col-xs-3">
      <a title="Create new channel" ui-sref-active-eq="active"
         ui-sref="dashboard.new_thread">
           <span class="glyphicon glyphicon-plus-sign"></span></a>
    </div>

  </div>

  <ul class="list-unstyled">
    <div ng-repeat="thread in sidebar.threads">
        <li ng-repeat="thread in thread track by thread.id">
            <a class="item" ui-sref-active="active"
             ui-sref="dashboard.messages.default(
                {owner: thread.owner.id, thread: thread.name, threadId: thread.id})">
            <span class="archived" title="Archived" ng-if="thread.is_archived">[A]</span>
            {{ thread.name }}
              <small>({{ thread.owner.email }})</small>
            </a>
        </li>
    </div>
  </ul>

</div>
