<div>
  <form name="form" class="card">

    <div class="form-group">
      <h3 class="no-top-margin">Already have an account?</h3>
      <p>Welcome back! Just sign in and you'll be added to the team.</p>

      <div class="alert alert-danger" ng-if="vm.messages.login">
        {{ vm.messages.login }}
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email"
          class="form-control input-lg"
          placeholder="name@example.com"
          required
          ng-model="vm.loginModel.email">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password"
          class="form-control input-lg"
          placeholder="******"
          ng-model="vm.loginModel.password"
          required minlength="6" >

      <div class="has-warning" ng-if="form.password.$dirty">
        <div class="help-block" ng-messages="form.password.$error">
          <div ng-message="minlength">Please enter at least six characters.</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 vmargin10">
        <button type="button" class="btn btn-block btn-lg btn-secondary"
            ng-click="vm.login(vm.loginModel)"
            ng-disabled="!form.$valid || vm.spinners.login">
          Sign In
          <span ng-if="vm.spinners.login"><i class="fa fa-circle-o-notch fa-spin"></i></span>
        </button>
      </div>
    </div>

  </form>

<div class="form-group">
  <p>Forgot your password? Reset it
      <a ui-sref="auth.reset">here</a>.</p>
  <p>Want to create your own team?
      <a ui-sref="auth.join.personal">Sign up</a> to get started.</p>
</div>

</div>
