<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>[% block title %] HumanLink [% endblock %]</title>

  [% assets "css_all" -%]
    <link rel="stylesheet" href="[= ASSET_URL =]" />
  [%- endassets %]

  [% block head %] [% endblock %]
  [% block styles %] [% endblock %]
  <script type="text/javascript">
    window.HL = {};
    window.HL.userdata = [= userdata | tojson | safe =];
  </script>
</head>

<body class="[% block layout %][%- endblock %]"
    [% if ng_app %] ng-app="[= ng_app =]" [% endif %]>

  [% block nav %]
    [% include "nav.html" %]
  [% endblock %]

  [% include "site-alert.html" %]

  <div class="[% block container %]container container-main[%- endblock %]">
    [% block content_wrapper %]
      [% block content %]
      [% endblock %]
    [% endblock %]
  </div>

  [% block footer %]
    [% include "footer.html" %]
  [% endblock %]

  [% assets "js_vendor" -%]
    <script src="[= ASSET_URL =]"></script>
  [%- endassets  %]

  [% assets "js_templates" -%]
    <script src="[= ASSET_URL =]"></script>
  [%- endassets %]

  [% assets "js_app" -%]
    <script src="[= ASSET_URL =]"></script>
  [%- endassets %]

  [% block scripts %] [% endblock %]
</body>
</html>