<div class="header">

  <div class="pull-right header-icons col-sm-5">
    <button class="btn btn-link" title="Channel info" ng-click="thread.toggleSidepanel()">
      <i class="material-icons" ng-if="!thread.sidepanel.isOpen">info_outline</i>
      <i class="material-icons" ng-if="thread.sidepanel.isOpen">info</i>
    </button>
  </div>
  <div uib-dropdown uib-keyboard-nav class="col-sm-4">
    <a href class="title" uib-dropdown-toggle="dropdown">
      {{ vm.thread.name }}
      <span class="caret"></span>
    </a>
  </div>

</div>
