<div class="header" style="position: fixed; top: 0px; z-index: 10;">

  <div class="pull-right header-icons col-sm-6">
    <div class="col-sm-8 search-box">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" placeholder="Search channel">
      </div>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-link" title="Channel info"
              ng-click="thread.toggleSidepanel()">
        <i class="material-icons" ng-if="!thread.sidepanel.isOpen">info_outline</i>
        <i class="material-icons" ng-if="thread.sidepanel.isOpen">info</i>
      </button>
    </div>
  </div>

  <div class="dropdown">
    <a href class="title dropdown-toggle" id="dropdownmenu1" data-toggle="dropdown">
      {{ vm.thread.name }}
      <span class="caret"></span>
    </a>

    <ul class="dropdown-menu">
      <li>
        <a ui-sref-active-eq="active"
           ui-sref="dashboard.messages.invite">
          Invite member</a>
      </li>
      <li>
        <a ui-sref-active-eq="active"
           ui-sref="dashboard.messages.update">
          Update purpose</a>
      </li>
      <li>
        <a ui-sref-active-eq="active"
           ui-sref="dashboard.messages.leave">
          Leave channel</a>
      </li>

      <li><a ui-sref-active-eq="active"
             ui-sref="dashboard.messages.archive">
        Archive channel</a></li>
      <!--
      <li ng-repeat="item in ['Search channel', 'Caregiver search', 'Channel boards']">
        <a href>{{ item }}</a>
      </li> -->
    </ul>
  </div>

</div>

