<div>
  <div class="messages-container"
       ng-class="{'hidden-xs col-sm-7': thread.sidepanel.isOpen}">
    <div class="messages" hl-resize-messages scroll-glue>

      <div class="thread-welcome" ng-if="vm.messages.length < 30">
        <p class="lead">Yay! <strong>{{ vm.thread.name }}</strong> is now available.
        </p>

        <p class="lead">You can set a purpose and add other care details in the
          <a ui-sref="dashboard.messages.update" href>channel purpose</a> section.</p>

        <p class="lead">This is the start of the conversation.</p>
      </div>

      <div class="messages-box">
        <div ng-repeat="msg in vm.messages">
          <div class="date-divider"
               ng-if="::$first || !vm.isSameDay(msg.created, vm.messages[$index-1].created)">
            <h6><span>{{ ::vm.localTime(msg.created) | date : 'EEEE, MMMM d' }}</span>
            </h6>
          </div>

          <div class="media message">
            <div class="media-left">
              <a href>
                <img class="avatar"
                     ng-src="{{ msg.account.gravatar_url }}"/>
              </a>
            </div>
            <div class="media-body">
              <div>
                <p class="media-heading name">
                  {{ msg.account.name }}
                  <small class="text-muted">
                    - {{ msg.created | date : 'h:mm a' }}
                  </small>
                </p>
              </div>
              <div ng-class="{'notification': msg.kind !== 0}"
                   ng-bind-html="vm.body(msg)"></div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="vm.thread.is_archived">
        <div class="panel panel-default">
          <div class="panel-body">
            Channel <b>{{ vm.thread.name }}</b> is archived. You can't enter any
            messages to this channel anymore. Don't worry, nothing has been lost. Your
            messages will be available.
          </div>
        </div>
      </div>
    </div>

    <div class="reply">
      <div class="block">

        <span class="spinner" ng-show="vm.submitBusy">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </span>

        <textarea rows="1" class="form-control"
                  placeholder="Enter a message&hellip;"
                  ng-model="vm.message"
                  ng-keypress="vm.onKeypress($event, vm.message)"
                  ng-disabled="vm.submitBusy"
                  hl-focus>
        </textarea>
        <span class="textarea-copy"></span>
      </div>
    </div>

  </div>
  <div class="sidepanel col-xs-12 col-sm-5" ng-show="thread.sidepanel.isOpen">
    <div ui-view></div>
  </div>
</div>
