<div class="card">

  <h4 class="text-center">
    Pending invitations for <strong>{{ ::vm.thread.name }}</strong> channel.
  </h4>

  <div class="alert alert-danger" ng-if="vm.errorMessage">
    {{ vm.errorMessage }}
  </div>

  <form name="form">
    <div class="form-group row vmargin10">

      <pre>{{ vm.members  | json }}</pre>

      <div class="col-md-12">
        <div class="col-xs-6">
          <button type="button" class="btn btn-block btn-default"
                  ng-click="vm.cancel()">Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
