<div class="update-container card">

  <h2 class="text-center">Update channel information</h2>

  <div class="alert alert-danger" ng-if="vm.errorMessage">
    {{ vm.errorMessage }}
  </div>

  <form class="form-horizontal" name="form">

    <div class="form-group">
      <label for="name" class="col-sm-3 control-label">{{ sidepanel.isOpen }}Name</label>

      <div class="col-sm-9 col-md-7">
        <input type="text" id="name" name="name" class="form-control"
               minlength="3" maxlength="30" ng-model="vm.thread.name"
               hl-alphanum hl-focus required/>

        <div class="has-warning" ng-if="form.name.$dirty">
          <div class="help-block" ng-messages="form.name.$error">
            <div ng-message="alphanum">
              Letters, numbers, and dashes only. Blank spaces are not allowed.
            </div>
          </div>
        </div>

        <div class="help-block">
          Give your channel a name. This is typically the name of the person receiving
          care.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="purpose" class="col-sm-3 control-label">Notes</label>

      <div class="col-sm-9 col-md-7">
        <textarea type="text" id="purpose" name="purpose" class="form-control"
                  ng-model="vm.thread.purpose" rows="8"
                  placeholder="Optional"></textarea>

        <div class="help-block">
          Give your channel a purpose. Providing a purpose helps members understand what
          this channel is used for.
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9 col-md-7">
        <div class="row">
          <div class="col-xs-6">
            <button type="submit" class="btn btn-block btn-secondary"
                    ng-click="vm.UpdateInfo(vm.thread)"
                    ng-disabled="!form.$valid || vm.submitBusy">Update Info
                      <span ng-if="vm.submitBusy">
                          <i class="fa fa-circle-o-notch fa-spin"></i>
                      </span>
            </button>
          </div>
          <div class="col-xs-6">
            <button type="button"
                    class="btn btn-block btn-default"
                    ng-click="vm.cancel()">Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>