<div class="header">

  <div class="pull-right header-icons">
    <button class="btn btn-link" title="Channel info" ng-click="thread.toggleSidepanel()">
      <i class="material-icons" ng-if="!thread.sidepanel.isOpen">info_outline</i>
      <i class="material-icons" ng-if="thread.sidepanel.isOpen">info</i>
    </button>
  </div>

  <div uib-dropdown uib-keyboard-nav>
    <a href class="title" uib-dropdown-toggle>
      {{ ::vm.thread.name }}
      <span class="caret"></span>
    </a>

    <ul class="uib-dropdown-menu">
      <li>
        <a ui-sref-active-eq="active"
           ui-sref="dashboard.messages.invite">
          Invite new member</a>
      </li>
      <li>
        <a ui-sref-active-eq="active"
           ui-sref="dashboard.messages.update">
          Edit channel information</a>
      </li>
      <li>
        <a ui-sref-active-eq="active"
           ui-sref="dashboard.messages.leave">
          Leave channel</a>
      </li>

      <li><a ui-sref-active-eq="active"
             ui-sref="dashboard.messages.archive">
        Archive channel</a></li>

      <li ng-repeat="item in ['Caregiver search', 'Channel boards']">
        <a href>{{ ::item }}</a>
      </li>
    </ul>
  </div>

</div>
