<div class="landing card row">
  <!-- About Section -  general benefits of Humanlink for the patient families-->
  <section class="horizontal" id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Humanlink</h2>
          <hr class="star-heart">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2 text-center">
          <button ui-sref="careseeker" class="btn btn-lg btn-block btn-outline btn-sharp">
            Care seeker
          </button>
        </div>
        <div class="col-sm-4 text-center">
          <button ui-sref="caregiver" class="btn btn-lg  btn-block  btn-outline btn-sharp">
            Care provider
          </button>
        </div>
      </div>
    </div>
  </section>

</div>

