<div class="settings-profile">
  <div class="card">

    <div class="row">
      <div class="col-md-3 text-center">
        <img src="https://placehold.it/150x150">

        <p class="vmargin10">
          <button class="btn btn-primary"
                  ng-click="vm.connect(vm.careseekerProfile.email)">Connect
          </button>
        </p>
      </div>
      <div class="col-md-9">
        <h3 class="text-center"><strong>{{ vm.careseekerProfile.team_name }}</strong></h3>
        <h4 class="text-center">Our mission: {{ vm.careseekerProfile.mission }}</h4>
      </div>
    </div>

  </div>
</div>

<pre> {{ vm.careseekerProfile | json }}</pre>