<div class="settings-profile">
  <div class="card">

    <div class="row">
      <div class="col-md-3 text-center">
        <img src="https://placehold.it/150x150">

        <p class="vmargin10">
          <button class="btn btn-primary" ng-click="vm.connect()">Connect</button>
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-9">
        <h4>Name: {{ vm.caregiverProfile.first }} {{ vm.caregiverProfile.last }}</h4>
        <h4>Headline: {{ vm.caregiverProfile.headline }}</h4>
        <h4>Bio: {{ vm.caregiverProfile.bio }}</h4>
        <h4>Education/Experience: {{ vm.caregiverProfile.certificates }}</h4>
        <h4>Living arrangements: {{ vm.caregiverProfile.arrangements }}</h4>
        <h4>Allergies: {{ vm.caregiverProfile.allergies }}</h4>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-9">
        <h4>Phone verified: {{ vm.caregiverProfile.phone_verified }}</h4>
        <h4>Offline ID verified: {{ vm.caregiverProfile.offlineID_verified }}</h4>
        <h4>Background check: {{ vm.caregiverProfile.background_verified }}</h4>
      </div>
    </div>


  </div>
</div>
