<div class="settings-profile">
  <div class="card">
    <!--
    <div class="row">
      <div class="col-md-3 text-center">
        <img src="https://placehold.it/150x150">

        <p class="vmargin10">
          <button class="btn btn-primary" ng-click="vm.connect()">Connect</button>
        </p>
      </div>
    </div>
    -->

    <div class="row">
      <div class="col-md-9">
        <h4></h4>
        <h4></h4>
        <h4></h4>
      </div>
    </div>

    <form name="form">

      <div class="form-group row">
        <label for="name" class="col-sm-3 control-label">Name: </label>

        <div class="col-sm-9">{{ vm.caregiverProfile.first }} {{ vm.caregiverProfile.last }}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 control-label">Headline: </label>

        <div class="col-sm-9">{{ vm.caregiverProfile.headline }}</div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 control-label">Bio: </label>

        <div class="col-sm-9">{{ vm.caregiverProfile.bio }}</div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 control-label">Education/Experience: </label>

        <div class="col-sm-9">{{ vm.caregiverProfile.certificates }}</div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 control-label">Living arrangements: </label>

        <div class="col-sm-9">{{ vm.caregiverProfile.arrangements }}</div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 control-label">Allergies: </label>

        <div class="col-sm-9">{{ vm.caregiverProfile.allergies }}</div>
      </div>

      <hr>

      <div class="form-group row">
        <label class="col-sm-3 control-label">Phone verified: </label>

        <div class="col-sm-9">{{ vm.caregiverProfile.phone_verified }}</div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 control-label">Offline ID verified: </label>

        <div class="col-sm-9">{{ vm.caregiverProfile.offlineID_verified }}</div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 control-label">Background check: </label>

        <div class="col-sm-9">{{ vm.caregiverProfile.background_verified }}</div>
      </div>

      <div class="form-group row vmargin10">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-xs-6">
            <button class="btn btn-block btn-primary"
                    ng-click="vm.connect(vm.careseekerProfile.email)">Connect
            </button>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-block btn-default"
                    ng-click="vm.back()">Back
            </button>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
