<div class="row settings">
  <div class="col-sm-3">
    <div class="list-group">
      <a href class="list-group-item" ui-sref-active-eq="active"
         ui-sref="account.edit">Basic Profile</a>
      <a href class="list-group-item" ui-sref-active-eq="active"
         ui-sref="account.team">Team Profile</a>
      <a href class="list-group-item" ui-sref-active-eq="active"
         ui-sref="account.caregiver">Caregiver Profile</a>
      <a href class="list-group-item" ui-sref-active-eq="active"
         ui-sref="account.security">Change Password</a>
      <a href class="list-group-item" ui-sref-active-eq="active"
         ui-sref="account.nearme">Nearme</a>
    </div>
  </div>
  <div class="col-sm-9" ui-view></div>
</div>
