<div class="row">
  <div class="col-sm-9">
    <div class="input-group">
      <input type="text" id="search_string" name="search_string" class="form-control"
             placeholder="Search for..." ng-model="vm.nearme.search_string">
      <span class="input-group-btn">
        <button class="btn btn-default btn-outline-primary" type="button"
                ng-click="vm.search(vm.nearme.search_string)">
          Search
        </button>
      </span>
    </div>
  </div>
</div>

<form>
  <hr>
  <ul class="list-group">
    <div ng-repeat="cgvr in vm.nearme.caregivers">
      <div ng-show="cgvr.public === true">
        <li class="list-group-item list-group-item-success">
          <h5><strong>Name:</strong>{{ cgvr.first }} {{ cgvr.last }}</h5>
          <h5><strong>Headline:</strong> {{ cgvr.headline }}</h5>
          <h5><strong>Bio:</strong> {{ cgvr.bio }}</h5>
          <h5><a href="#/caregiverProfile/{{ cgvr.email }}">Read more...</a></h5>
        </li>
      </div>
    </div>
    <div ng-repeat="cskr in vm.nearme.careseekers">
      <div ng-show="cskr.public === true">
        <li class="list-group-item list-group-item-info">
          <h5><strong>Team Name:</strong> {{ cskr.team_name }}</h5>
          <h5><strong>Mission:</strong> {{ cskr.mission }}</h5>
          <h5><a href="#/careseekerProfile/{{ cskr.email }}">Read more...</a></h5>
        </li>
      </div>
    </div>
  </ul>
  <ul class="row vmargin5">
  </ul>
</form>
